body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245); 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
    border-radius: 10px; 
}

.form {
    padding: 20px;
}

h2 {
    color: rgb(34, 34, 34); 
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: rgb(85, 85, 85); 
}

input[type="text"], input[type="date"], input[type="email"], textarea, input[list] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(200, 200, 200); 
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: rgb(0, 102, 204); 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(0, 85, 170); 
}


@media (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    label {
        font-size: 13px;
    }

    input[type="text"], input[type="date"], input[type="email"], textarea, input[list] {
        padding: 7px;
        font-size: 13px;
    }

    input[type="submit"] {
        padding: 9px;
        font-size: 15px;
    }
}
